* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial, Helvetica, sans-serif";
}

:root {
    --clr-main: #333; 
    --clr-gray: #f0f0f0;
    --clr-red: #ff0000;
    --clr-white: #fff;
}

/*Estilos Generales*/

body {
    height: 50vh;
    background-image: url('./img/fondodeeccomers.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
}

nav {
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    height: 350px;
    min-height: 10px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    
}

.logo {
        width: 600px; 
        height: 350px;
}

nav header .logo button a {
    color: white;
}


li {
    text-decoration: none;
}

nav header h1 {
    color: white;
}

.cart-icon {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    font-size: 70px; 
    text-decoration: none; 
    padding: 10px;
    top: 120px; 
    right: 120px;
}

.cart-icon:hover {
    color: #007bff;
}


.numerito {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 7px;
    margin-left: 30px;
    
}

h1 {
    color: rgb(0, 0, 0);
    
}

h3 {
    font-size: 60px;
}

/*Estilos para Imagenes*/

#contenedor-productos {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 500px; 
    padding: 60px;
}

.producto {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b8b8b8; 
    border-radius: 8px; 
    background-color: #b8b8b8; 
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.producto:hover {
    transform: translateY(-50px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-imagen {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; 
    border-radius: 8px 8px 0 0; 
}

.producto-detalles {
    text-align: center;
    padding: 10px 0;
}

.producto-titulo {
    font-size: 80px !important;
    margin-bottom: 5px;
    color: #333;
}

.producto-precio {
    font-size: 50px;
    font-weight: bold;
    color: #28a745; 
    margin-bottom: 10px;
}

/* Estilo del botón de agregar al carrito */
.producto-agregar {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto-agregar:hover {
    background-color: #0056b3;
}



.producto-agregar {
    margin-top: 2px;
    color: rgb(255, 255, 255); 
    font-size: 50px; 
    line-height: 5px; 
    padding: 50px; 
    border-radius: 4px; 
    font-family: "Zen Dots", sans-serif;
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;
}

.producto-titulo {
    font-size: 25px;
}


.col img {

    transition: transform 0.3s ease-in-out;
    width: 100%; 
    max-width: 200px; 
    height: 200px; 
    object-fit: cover; 
    display: block; 
    margin: auto; 
    border-radius: 5px; 
    padding: 0;
}

.col img:hover {
    transform: scale(1.1); 
}

.col p {
    margin-top: 20px;
    height: 10px;
    font-size: 20px;
}

/*Carrito vacio*/

.contenedor-carrito {
    margin-top: 150px;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px;
}

.carrito-vacio,
.carrito-comprado {
    padding: 200px;
    color: var(--clr-main);
    font-size: 80px;
    text-shadow: 
        -1px -1px 0 #7a11ca,  
        1px -1px 0 #7a11ca,   
        -1px 1px 0 #7a11ca,   
        1px 1px 0 #7a11ca;    
    font-family: "Protest Guerrilla", sans-serif;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    gap: 1rem;
}

.carrito-producto {
    font-size: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 195, 195);
    color: var(--clr-main);
    padding: 1rem; 
    border-radius: 200px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    
}

.carrito-producto small {
    font-size: 50px;
}

.carrito-producto h3 {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carrito-producto-eliminar {
    height: 150px;
    border-radius: 500px;
    background-color: transparent;
    border: 0;
}

.carrito-producto-eliminar:hover {
    background-color: gray;
    color: white;
}

.carrito-producto-imagen {
    width: 450px; 
    border-radius: 200px;
    object-fit: cover; 
}

.disabled {
    display: none;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-total {
    display: flex;
    font-size: 60px;
    background-color: rgb(201, 188, 188);
    padding: 1rem;
    border-radius: 15rem;
    text-transform: uppercase;
    margin-right: 70px;
    
}

.carrito-acciones-vaciar {
    background-color: #fff; 
    color: #7a11ca; 
    border: none; 
    padding: 20px 24px; 
    border-radius: 60px; 
    font-size: 60px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin-left: 120px; 
}

.carrito-acciones-vaciar:hover {
    background-color: #330557; 
    color: white;
    transform: translateY(-2px); 
}

.carrito-acciones-derecha{
    display: flex;

}

.carrito-acciones-comprar {
    background-color: #7a11ca;
    color: #fff; 
    border: none; 
    padding: 20px 24px; 
    border-radius: 60px; 
    font-size: 60px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin-right: 120px;
}

.carrito-acciones-comprar:hover {
    background-color: #330557; 
    color: rgb(255, 255, 255);
    transform: translateY(-2px);
}

.carrito-producto-titulo {
    font-size: 85px;
}

.carrito-total {
    font-size: 100px;
}

.titulo-principal {
    font-size: 150px;
    padding-top: 400px;
    height: 150px;
    text-shadow: 
        -1px -1px 0 #7a11ca,  
        1px -1px 0 #7a11ca,   
        -1px 1px 0 #7a11ca,   
        1px 1px 0 #7a11ca;    
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
}


/* Estilos para footer*/
footer {
    background-color: rgb(0, 0, 0);
    margin-top: 1400px;
    width: 100%;
    padding: auto;
    font-size: 60px;
    text-align: center;
    position: absolute;
}

.footer2 {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 1700px;
}

footer p {
    color: white;
}





/*Estilos de Funtes*/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}